body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    /* margin: 20px; */
}
.container{
    background-color: hsl(216, 50%, 16%);
    /* margin-top: 200px;
    margin-left: 600px;
    margin-right: 600px; */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 560px;
}
.mainimg{
    width: 295px;
    height: 295px;
    border-radius: 10px;

}
.white{
    color: white;
}
.para{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.para1 p{
    color:hsl(178, 100%, 50%);
}
p{
    color: hsl(215, 51%, 70%);
}
.img2{
    width: 35px;
    float: left;
    margin-right: 5px;
    border: 1px white solid;
    border-radius: 50%;
}

.line{
    color: hsl(215, 100%, 48%);
}
.mainbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}
hr{
    border-top: 1px solid  hsl(215, 51%, 70%);
    padding: 0%;
    border-bottom:1px solid hsl(216, 50%, 16%) ;
    border-left: 1px solid hsl(216, 50%, 16%);
    border-right: 1px solid hsl(216, 50%, 16%);
}
.line{
    display: flex;
    align-items: center;
}


    
